.houses
{
    /* background-color: blueviolet; */
    height: 1100px;
}


.houses_content
{

}

.houses_title
{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 50px;
    line-height: 1.3;
}

.all_houses
{
    
}

.type_houses
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}


.img_house
{
    max-width: 450px;
}

.desc_house
{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    margin-left: 30px;
    max-width: 450px;
}
